DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=

DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

SERVER_DB_NAME=
SERVER_DB_USER=
SERVER_DB_PASSWORD=
SERVER_DB_HOST=
SERVER_DB_PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

ENABLE_AUTO_SYNC=False
CLOCK_OFFSET_MINUTES=5

ADMIN_ROLE_NAME=
SERVER_DEPLOYMENT_BASE=

# Note: Ask var values for missing entries