{% load static %}
  <div class="card mb-3">
    <div class="card-body py-2 d-flex justify-content-center align-items-center gap-3">
      <div id="shotClock" class="d-flex align-items-center gap-1">
        <div class="shot-digit" id="clockH1"></div>
        <div class="shot-digit" id="clockH2"></div>
        <div class="shot-sep">:</div>
        <div class="shot-digit" id="clockM1"></div>
        <div class="shot-digit" id="clockM2"></div>
        <div class="shot-sep">:</div>
        <div class="shot-digit" id="clockS1"></div>
        <div class="shot-digit" id="clockS2"></div>
        <div class="shot-ampm" id="clockAmPm"></div>
      </div>
    </div>
  </div>